* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 350px;
  max-width: 80%;
}
textarea {
  width: 80%;
  height: 300px;
  padding: 5px;
  margin-bottom: 20px;
}
.user-input-wrapper,
.treat-wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(10, 25, 49, 0.4);
  z-index: 999;
  align-items: center;
  justify-content: center;
  display: none;
}
.display-user-input-wrapper,
.display-treat-wrapper {
  display: flex;
}
.alert-msg,
.alert-msg2 {
  color: black;
  background: #ffc947;
  text-align: center;
}
.btn-disable {
  color: #01937c;
  text-align: center;
}
.user-input-wrapper > div,
.treat-wrapper > div {
  width: 600px;
  max-width: 90%;
  height: 80vh;
  background-color: #0a1931;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.input-wrapper {
  border: 2px solid #efefef;
  margin: 30px 0;
  border-radius: 5px;
}
.input-head {
  color: white;
  text-align: center;
  padding: 0 20px;
}
.button-wrap {
  border: none;
  text-align: center;
}
.checker,
.treat-btn,
.send-treat {
  background-color: #cd113b;
  color: white;
  padding: 8px;
  border: none;
  font-size: 1.3rem;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px lightgray;
}
input {
  width: 100%;
  font-size: 1.3rem;
  padding: 2px;
  color: rgb(73, 73, 73);
}
input:focus {
  outline: none;
}
.wrapper {
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.birthday {
  text-transform: capitalize;
  color: #0a1931;
}
.msg-load {
  color: white;
  text-align: center;
  padding: 0 2%;
}
.user-message {
  background-color: #155263;
  font-size: 1.3rem;
  color: white;
  padding: 10px;
  box-shadow: 2px 2px 2px 6px lightgray;
}
.image {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 4px solid lightgray;
  overflow: hidden;
  padding: 0;
}
.image img {
  width: 100%;
  height: auto;
  display: block;
}
.bload {
  text-align: left;
  margin-bottom: 0;
  font-size: 1.3rem;
  color: teal;
}
.remaining-time {
  padding: 0;
  margin: 0;
}

.dt {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  border: 3px solid lightgray;
  background-color: rgb(24, 23, 23);
  color: white;
  font-size: 3rem;
}
.ps-load {
  margin-top: 30px;
}
.ps-load-p {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.5rem;
  color: teal;
}
.present {
  width: 50px;
  height: 50px;
  background-color: rgb(182, 176, 176);
  border-radius: 100%;
  display: inline-block;
  animation-name: dmp;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  vertical-align: middle;
}

.localD {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 999;
  padding: 2%;
  display: none;
  background-color: white;
}
table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
/* .localD ul li {
  padding: 2% 3%;
  border: 3px solid lightgray;
} */
.display-localD {
  display: block;
}
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  color: #888888;
  padding-bottom: 0;
  width: 100%;
}
@keyframes dmp {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@media screen and (max-width: 450px) {
  .birthday {
    font-size: 1.5rem;
  }
  .dt {
    font-size: 1.5rem;
    padding: 2px;
  }
  .image {
    width: 100px;
    height: 100px;
  }
  .bload {
    font-size: 1.1rem;
    text-align: center;
  }
}
